In [5]:
import pandas as pd
import numpy as np
import geopandas
import os

In [2]:
%load_ext lab_black
%matplotlib inline

In [15]:
base_path = os.environ["SCRATCH"]

unemployment_rate_geojson = os.path.join(base_path, "covid-map/uemp_county.geojson")
hospital_beds = os.path.join(
    base_path, "covid-map/covid-notebook-and-data/data/us/hospitals/beds_by_county.csv"
)
ben_permile_county = os.path.join(
    base_path, "covid-map/covid-notebook-and-data/data/us/hospitals/bed_densities.csv"
)
icu_county = os.path.join(
    base_path, "covid-map/covid-notebook-and-data/data/us/hospitals/icu_county.csv"
)
aggregate_jhu = os.path.join(
    base_path, "covid-map/covid-notebook-and-data/data/us/aggregate_jhu.csv"
)
aggregate_berkeley = os.path.join(
    base_path, "covid-map/covid-notebook-and-data/data/us/aggregate_berkeley.csv"
)

In [16]:
urg = geopandas.read_file(unemployment_rate_geojson)
hb = pd.read_csv(hospital_beds)
bpc = pd.read_csv(ben_permile_county)
icuc = pd.read_csv(icu_county)
ajhu = pd.read_csv(aggregate_jhu)
aberkeley = pd.read_csv(aggregate_berkeley)

In [49]:
unemploy_data = urg[["id", "unemp"]]
unemploy_data.head()

      id unemp
0  01001   2.7
1  01009   2.6
2  01017   2.8
3  01021   2.5
4  01033   3.7

In [62]:
ajhu[["NATURAL_INC_2018"]]

      NATURAL_INC_2018
0            1041487.0
1               3791.0
2                123.0
3                 26.0
4                -63.0
...                ...
3268               NaN
3269               NaN
3270               NaN
3271               NaN
3272               NaN

[3273 rows x 1 columns]

In [33]:
ajhu.columns.values

array(['FIPS', 'State', 'Area_Name', 'Rural-urban_Continuum Code_2013',
       'Urban_Influence_Code_2013', 'Economic_typology_2015',
       'POP_ESTIMATE_2018', 'N_POP_CHG_2018', 'Births_2018',
       'Deaths_2018', 'NATURAL_INC_2018', 'INTERNATIONAL_MIG_2018',
       'DOMESTIC_MIG_2018', 'NET_MIG_2018', 'RESIDUAL_2018',
       'GQ_ESTIMATES_2018', 'R_birth_2018', 'R_death_2018',
       'R_NATURAL_INC_2018', 'R_INTERNATIONAL_MIG_2018',
       'R_DOMESTIC_MIG_2018', 'R_NET_MIG_2018',
       'Less than a high school diploma 2014-18',
       'High school diploma only 2014-18',
       "Some college or associate's degree 2014-18",
       "Bachelor's degree or higher 2014-18",
       'Percent of adults with less than a high school diploma 2014-18',
       'Percent of adults with a high school diploma only 2014-18',
       "Percent of adults completing some college or associate's degree 2014-18",
       "Percent of adults with a bachelor's degree or higher 2014-18",
       'POVALL_2018', 'CI90LBAll_2018', 'CI90UBALL_2018',
       'PCTPOVALL_2018', 'CI90LBALLP_2018', 'CI90UBALLP_2018',
       'POV017_2018', 'CI90LB017_2018', 'CI90UB017_2018',
       'PCTPOV017_2018', 'CI90LB017P_2018', 'CI90UB017P_2018',
       'POV517_2018', 'CI90LB517_2018', 'CI90UB517_2018',
       'PCTPOV517_2018', 'CI90LB517P_2018', 'CI90UB517P_2018',
       'MEDHHINC_2018', 'CI90LBINC_2018', 'CI90UBINC_2018',
       'Civilian_labor_force_2018', 'Employed_2018', 'Unemployed_2018',
       'Unemployment_rate_2018', 'Median_Household_Income_2018',
       'Med_HH_Income_Percent_of_State_Total_2018',
       'Jan Precipitation / inch', 'Feb Precipitation / inch',
       'Mar Precipitation / inch', 'Apr Precipitation / inch',
       'May Precipitation / inch', 'Jun Precipitation / inch',
       'Jul Precipitation / inch', 'Aug Precipitation / inch',
       'Sep Precipitation / inch', 'Oct Precipitation / inch',
       'Nov Precipitation / inch', 'Dec Precipitation / inch',
       'Jan Temp AVG / F', 'Feb Temp AVG / F', 'Mar Temp AVG / F',
       'Apr Temp AVG / F', 'May Temp AVG / F', 'Jun Temp AVG / F',
       'Jul Temp AVG / F', 'Aug Temp AVG / F', 'Sep Temp AVG / F',
       'Oct Temp AVG / F', 'Nov Temp AVG / F', 'Dec Temp AVG / F',
       'Jan Temp Min / F', 'Feb Temp Min / F', 'Mar Temp Min / F',
       'Apr Temp Min / F', 'May Temp Min / F', 'Jun Temp Min / F',
       'Jul Temp Min / F', 'Aug Temp Min / F', 'Sep Temp Min / F',
       'Oct Temp Min / F', 'Nov Temp Min / F', 'Dec Temp Min / F',
       'Jan Temp Max / F', 'Feb Temp Max / F', 'Mar Temp Max / F',
       'Apr Temp Max / F', 'May Temp Max / F', 'Jun Temp Max / F',
       'Jul Temp Max / F', 'Aug Temp Max / F', 'Sep Temp Max / F',
       'Oct Temp Max / F', 'Nov Temp Max / F', 'Dec Temp Max / F',
       'Housing units', 'Area in square miles - Total area',
       'Area in square miles - Water area',
       'Area in square miles - Land area',
       'Density per square mile of land area - Population',
       'Density per square mile of land area - Housing units',
       'Total_Male', 'Total_Female', 'Total_age0to17', 'Male_age0to17',
       'Female_age0to17', 'Total_age18to64', 'Male_age18to64',
       'Female_age18to64', 'Total_age65plus', 'Male_age65plus',
       'Female_age65plus', 'Total_age85plusr', 'Male_age85plusr',
       'Female_age85plusr', 'Total households',
       'Total households!!Family households (families)',
       'Total households!!Family households (families)!!With own children of the householder under 18 years',
       'Total households!!Family households (families)!!Married-couple family',
       'Total households!!Family households (families)!!Married-couple family!!With own children of the householder under 18 years',
       'Total households!!Family households (families)!!Male householder no wife present family',
       'HOUSEHOLDS BY TYPE!!',
       'Total households!!Family households (families)!!Female householder no husband present family',
       'Total households!!Family households (families)!!Female householder no husband present family!!With own children of the householder under 18 years',
       'Total households!!Nonfamily households',
       'Total households!!Nonfamily households!!Householder living alone',
       'Total households!!Nonfamily households!!Householder living alone!!65 years and over',
       'Total households!!Households with one or more people under 18 years',
       'Total households!!Households with one or more people 65 years and over',
       'Total households!!Average household size',
       'Total households!!Average family size',
       'RELATIONSHIP!!Population in households',
       'RELATIONSHIP!!Population in households!!Householder',
       'RELATIONSHIP!!Population in households!!Spouse',
       'RELATIONSHIP!!Population in households!!Child',
       'RELATIONSHIP!!Population in households!!Other relatives',
       'RELATIONSHIP!!Population in households!!Nonrelatives',
       'RELATIONSHIP!!Population in households!!Nonrelatives!!Unmarried partner',
       'MARITAL STATUS!!Males 15 years and over',
       'MARITAL STATUS!!Males 15 years and over!!Never married',
       'MARITAL STATUS!!Males 15 years and over!!Now married except separated',
       'MARITAL STATUS!!Males 15 years and over!!Separated',
       'MARITAL STATUS!!Males 15 years and over!!Widowed',
       'MARITAL STATUS!!Males 15 years and over!!Divorced',
       'MARITAL STATUS!!Females 15 years and over',
       'MARITAL STATUS!!Females 15 years and over!!Never married',
       'MARITAL STATUS!!Females 15 years and over!!Now married except separated',
       'MARITAL STATUS!!Females 15 years and over!!Separated',
       'MARITAL STATUS!!Females 15 years and over!!Widowed',
       'MARITAL STATUS!!Females 15 years and over!!Divorced',
       'SCHOOL ENROLLMENT!!Population 3 years and over enrolled in school',
       'SCHOOL ENROLLMENT!!Population 3 years and over enrolled in school!!Nursery school preschool',
       'SCHOOL ENROLLMENT!!Population 3 years and over enrolled in school!!Kindergarten',
       'SCHOOL ENROLLMENT!!Population 3 years and over enrolled in school!!Elementary school (grades 1-8)',
       'SCHOOL ENROLLMENT!!Population 3 years and over enrolled in school!!High school (grades 9-12)',
       'SCHOOL ENROLLMENT!!Population 3 years and over enrolled in school!!College or graduate school',
       'VETERAN STATUS!!Civilian population 18 years and over',
       'VETERAN STATUS!!Civilian population 18 years and over!!Civilian veterans',
       'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION!!Total Civilian Noninstitutionalized Population',
       'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION!!Total Civilian Noninstitutionalized Population!!With a disability',
       'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION!!Under 18 years',
       'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION!!Under 18 years!!With a disability',
       'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION!!18 to 64 years',
       'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION!!18 to 64 years!!With a disability',
       'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION!!65 years and over',
       'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION!!65 years and over!!With a disability',
       'TOT_MALE', 'TOT_FEMALE', 'WA_MALE', 'WA_FEMALE', 'BA_MALE',
       'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 'AA_MALE', 'AA_FEMALE',
       'NA_MALE', 'NA_FEMALE', 'TOM_MALE', 'TOM_FEMALE', 'WAC_MALE',
       'WAC_FEMALE', 'BAC_MALE', 'BAC_FEMALE', 'IAC_MALE', 'IAC_FEMALE',
       'AAC_MALE', 'AAC_FEMALE', 'NAC_MALE', 'NAC_FEMALE', 'NH_MALE',
       'NH_FEMALE', 'NHWA_MALE', 'NHWA_FEMALE', 'NHBA_MALE',
       'NHBA_FEMALE', 'NHIA_MALE', 'NHIA_FEMALE', 'NHAA_MALE',
       'NHAA_FEMALE', 'NHNA_MALE', 'NHNA_FEMALE', 'NHTOM_MALE',
       'NHTOM_FEMALE', 'NHWAC_MALE', 'NHWAC_FEMALE', 'NHBAC_MALE',
       'NHBAC_FEMALE', 'NHIAC_MALE', 'NHIAC_FEMALE', 'NHAAC_MALE',
       'NHAAC_FEMALE', 'NHNAC_MALE', 'NHNAC_FEMALE', 'H_MALE', 'H_FEMALE',
       'HWA_MALE', 'HWA_FEMALE', 'HBA_MALE', 'HBA_FEMALE', 'HIA_MALE',
       'HIA_FEMALE', 'HAA_MALE', 'HAA_FEMALE', 'HNA_MALE', 'HNA_FEMALE',
       'HTOM_MALE', 'HTOM_FEMALE', 'HWAC_MALE', 'HWAC_FEMALE',
       'HBAC_MALE', 'HBAC_FEMALE', 'HIAC_MALE', 'HIAC_FEMALE',
       'HAAC_MALE', 'HAAC_FEMALE', 'HNAC_MALE', 'HNAC_FEMALE',
       'Active Physicians per 100000 Population 2018 (AAMC)',
       'Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)',
       'Active Primary Care Physicians per 100000 Population 2018 (AAMC)',
       'Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)',
       'Active General Surgeons per 100000 Population 2018 (AAMC)',
       'Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)',
       'Fraction of Active Physicians Who Are Female 2018 (AAMC)',
       'Fraction of Active Physicians Who Are International Medical Graduates (IMGs) 2018 (AAMC)',
       'Fraction of Active Physicians Who Are Age 60 or Older 2018 (AAMC)',
       'MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC)',
       'Student Enrollment at Public MD and DO Schools per 100000 Population AY 2018-2019 (AAMC)',
       'Fraction Change in Student Enrollment at MD and DO Schools 2008-2018 (AAMC)',
       'Fraction of MD Students Matriculating In-State AY 2018-2019 (AAMC)',
       'Total Residents/Fellows in ACGME Programs per 100000 Population as of December 31 2018 (AAMC)',
       'Total Residents/Fellows in Primary Care ACGME Programs per 100000 Population as of Dec. 31 2018 (AAMC)',
       'Fraction of Residents in ACGME Programs Who Are IMGs as of December 31 2018 (AAMC)',
       'Ratio of Residents and Fellows (GME) to Medical Students (UME) AY 2017-2018 (AAMC)',
       'Percent Change in Residents and Fellows in ACGME-Accredited Programs 2008-2018 (AAMC)',
       'Fraction of Physicians Retained in State from Undergraduate Medical Education (UME) 2018 (AAMC)',
       'All Specialties (AAMC)', 'Allergy & Immunology (AAMC)',
       'Anatomic/Clinical Pathology (AAMC)', 'Anesthesiology (AAMC)',
       'Cardiovascular Disease (AAMC)',
       'Child & Adolescent Psychiatry** (AAMC)',
       'Critical Care Medicine (AAMC)', 'Dermatology (AAMC)',
       'Emergency Medicine (AAMC)',
       'Endocrinology Diabetes & Metabolism (AAMC)',
       'Family Medicine/General Practice (AAMC)',
       'Gastroenterology (AAMC)', 'General Surgery (AAMC)',
       'Geriatric Medicine*** (AAMC)', 'Hematology & Oncology (AAMC)',
       'Infectious Disease (AAMC)', 'Internal Medicine (AAMC)',
       'Internal Medicine/Pediatrics (AAMC)',
       'Interventional Cardiology (AAMC)',
       'Neonatal-Perinatal Medicine (AAMC)', 'Nephrology (AAMC)',
       'Neurological Surgery (AAMC)', 'Neurology (AAMC)',
       'Neuroradiology (AAMC)', 'Obstetrics & Gynecology (AAMC)',
       'Ophthalmology (AAMC)', 'Orthopedic Surgery (AAMC)',
       'Otolaryngology (AAMC)', 'Pain Medicine & Pain Management (AAMC)',
       'Pediatrics** (AAMC)', 'Physical Medicine & Rehabilitation (AAMC)',
       'Plastic Surgery (AAMC)', 'Preventive Medicine (AAMC)',
       'Psychiatry (AAMC)', 'Pulmonary Disease (AAMC)',
       'Radiation Oncology (AAMC)',
       'Radiology & Diagnostic Radiology (AAMC)', 'Rheumatology (AAMC)',
       'Sports Medicine (AAMC)', 'Thoracic Surgery (AAMC)',
       'Urology (AAMC)', 'Vascular & Interventional Radiology (AAMC)',
       'Vascular Surgery (AAMC)',
       'State/Local Government hospital beds per 1000 people (2019)',
       'Non-profit hospital beds per 1000 people (2019)',
       'For-profit hospital beds per 1000 people (2019)',
       'Total hospital beds per 1000 people (2019)',
       'Total nurse practitioners (2019)',
       'Total physician assistants (2019)', 'Total Hospitals (2019)',
       'Internal Medicine Primary Care (2019)',
       'Family Medicine/General Practice Primary Care (2019)',
       'Pediatrics Primary Care (2019)',
       'Obstetrics & Gynecology Primary Care (2019)',
       'Geriatrics Primary Care (2019)',
       'Total Primary Care Physicians (2019)',
       'Psychiatry specialists (2019)', 'Surgery specialists (2019)',
       'Anesthesiology specialists (2019)',
       'Emergency Medicine specialists (2019)',
       'Radiology specialists (2019)', 'Cardiology specialists (2019)',
       'Oncology (Cancer) specialists (2019)',
       'Endocrinology Diabetes and Metabolism specialists (2019)',
       'All Other Specialties specialists (2019)',
       'Total Specialist Physicians (2019)',
       'transit_scores - population weighted averages aggregated from town/city level to county'],
      dtype=object)

In [35]:
aberkeley.columns.values

array(['Unnamed: 0', 'countyFIPS', 'State', 'County',
       'PopulationEstimate2018', 'Population(Persons)2017',
       'PopTotalMale2017', 'PopTotalFemale2017', 'FracMale2017',
       'PopulationEstimate65+2017', 'PopulationDensityperSqMile2010',
       'CensusPopulation2010', 'MedianAge2010', 'MedianAge,Male2010',
       'MedianAge,Female2010', '#EligibleforMedicare2018',
       'MedicareEnrollment,AgedTot2017', '3-YrDiabetes2015-17',
       'DiabetesPercentage', 'HeartDiseaseMortality', 'StrokeMortality',
       'Smokers_Percentage', '#FTEHospitalTotal2017',
       "TotalM.D.'s,TotNon-FedandFed2017",
       '#HospParticipatinginNetwork2017', '#Hospitals', '#ICU_beds',
       'dem_to_rep_ratio', 'PopMale<52010', 'PopFmle<52010',
       'PopMale5-92010', 'PopFmle5-92010', 'PopMale10-142010',
       'PopFmle10-142010', 'PopMale15-192010', 'PopFmle15-192010',
       'PopMale20-242010', 'PopFmle20-242010', 'PopMale25-292010',
       'PopFmle25-292010', 'PopMale30-342010', 'PopFmle30-342010',
       'PopMale35-442010', 'PopFmle35-442010', 'PopMale45-542010',
       'PopFmle45-542010', 'PopMale55-592010', 'PopFmle55-592010',
       'PopMale60-642010', 'PopFmle60-642010', 'PopMale65-742010',
       'PopFmle65-742010', 'PopMale75-842010', 'PopFmle75-842010',
       'PopMale>842010', 'PopFmle>842010',
       '3-YrMortalityAge<1Year2015-17', '3-YrMortalityAge1-4Years2015-17',
       '3-YrMortalityAge5-14Years2015-17',
       '3-YrMortalityAge15-24Years2015-17',
       '3-YrMortalityAge25-34Years2015-17',
       '3-YrMortalityAge35-44Years2015-17',
       '3-YrMortalityAge45-54Years2015-17',
       '3-YrMortalityAge55-64Years2015-17',
       '3-YrMortalityAge65-74Years2015-17',
       '3-YrMortalityAge75-84Years2015-17',
       '3-YrMortalityAge85+Years2015-17', 'mortality2015-17Estimated'],
      dtype=object)

In [44]:
medical_data = aberkeley[
    ["countyFIPS", "#ICU_beds", "#Hospitals", "#EligibleforMedicare2018"]
]
medical_data['countyFIPS']
medical_data.head()

   countyFIPS  #ICU_beds  #Hospitals  #EligibleforMedicare2018
0        1001          6           1                   11439.0
1        1003         51           3                   54145.0
2        1005          5           1                    6681.0
3        1007          0           1                    5128.0
4        1009          6           1                   13175.0

In [54]:
medical_data.dtypes

countyFIPS                    int64
#ICU_beds                     int64
#Hospitals                    int64
#EligibleforMedicare2018    float64
dtype: object

In [58]:
unemploy_data.dtypes

countyFIPS     int64
unemp         object
dtype: object

In [50]:
unemploy_data.rename(columns={"id": "countyFIPS"}, inplace=True)

/scratch/user/diya.li/.conda/envs/jupyterlab_2.0.1/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [57]:
unemploy_data["countyFIPS"] = unemploy_data["countyFIPS"].astype(np.int64)

<ipython-input-57-a3e0220577c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemploy_data["countyFIPS"] = unemploy_data["countyFIPS"].astype(np.int64)

In [60]:
result_df = pd.merge(unemploy_data, medical_data, on="countyFIPS")

In [61]:
result_df.head()

   countyFIPS unemp  #ICU_beds  #Hospitals  #EligibleforMedicare2018
0        1001   2.7          6           1                   11439.0
1        1009   2.6          6           1                   13175.0
2        1017   2.8          0           0                    9276.0
3        1021   2.5          6           1                    9785.0
4        1033   3.7         22           2                   14459.0

In [63]:
result_df.to_csv("uemp-icu-hospital-medicare.csv", index=False)